* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('../img/espaço.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  
  header {
    background-color: #151615;
    color: #f8f1f1;
    padding: 20px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header img.perfil {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  header h1 {
    margin-left: 15px;
    font-size: 1.8rem;
    flex-grow: 1;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #131414;
  }
  
  .hero {
    text-align: center;
    padding: 40px 20px;
    background-color: #e6f2ff;
  }
  
  .hero img {
    width: 200px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .cta {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .cta:hover {
    background-color: #0066cc;
  }

  section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  #curiosidades ul {
    list-style: none;
    padding-left: 0;
  }
  
  #curiosidades li {
    background-color: #e6f2ff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
  }
  
  #causos p {
    font-style: italic;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
  }
  
  .card {
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .card p {
    padding: 10px;
    font-weight: bold;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #004080;
    color: white;
    padding: 10px;
  }
  
  td {
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  footer {
    background-color: #1e1f20;
    color: white;
    text-align: center;
    padding: 30px 20px;
    margin-top: 40px;
  }
  
  footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  .redes-sociais a {
    margin: 0 10px;
    display: inline-block;
  }

  
  #sobre img {
    width: 200px;
    height: auto;
    border-radius: 8px; 
  }
  

  